/* vim: set ft=css foldmethod=marker foldlevel=10 : */

/* loader from https://htmlboilerplates.com/ {{{
 * modified to get rid of javascript */
@keyframes fadeinall {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    z-index: 999;
    opacity: 1;
  }
  97% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    z-index: 999;
  }
  98% {
    z-index: 999;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  99% {
    z-index: 999;
  }
}

#loader {
  opacity: 0;
  position: fixed;
  -webkit-transform: translateY(-120%);
  -ms-transform: translateY(-120%);
  transform: translateY(-120%);
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -999;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: fadeinall 1s normal both;
  animation: fadeinall 1s normal both;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}/*}}}*/
